{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}

{% block contents %}
<section id="from-the-community">
    <h2>From the Community</h2>
    <div class="community-items">
        <div class="left-section">
            <nav class="left-sec-nav">
                <ul>
                    <a href="{% url "home_page" %}"><li>All</li></a>
                    <a class="current-item" href="{% url "first_cate" %}"><li>{{ current_category.category_name }}</li></a>
                    <a href="{% url "second_cate" %}"><li>{{ current_category.category_name }}</li></a>
                    <a href="{% url "third_cate" %}"><li>{{ current_category.category_name }}</li></a>
                    <a href="{% url "fourth_cate" %}"><li>{{ current_category.category_name }}</li></a>
                    <a href="{% url "fifth_cate" %}"><li>{{ current_category.category_name }}</li></a>
                    <a href="{% url "sixth_cate" %}"><li>{{ current_category.category_name }}</li></a>
                </ul>
            </nav>
            <div class="community-all-cards">
                {% for story in community_stories %}
                <a href="{% url "post-details" story.story_category.slug story.slug  %}">
                <div class="community-single-card">
                    <div class="com-card-text">
                        <h5 class="card-head">{{ story.story_heading }}</h5>
                        <div class="author-image">
                            <img class="author-pic" src="{% static "blog/images/author-img.jpg" %}" alt="">
                            <h4>{{ story.author.first_name }} {{ story.author.last_name }}</h4>
                            <div class="stroke"></div>
                            <p>{{ story.date|date:"M d, Y"}}</p>
                            <div class="circle"></div>
                            <p>{{ story.wpm }} min read</p>
                        </div>
                        <p>{{ story.text_contents|truncatechars:170}}</p>
                    </div>
                    <img class="post-pic" src="{{ story.story_image.url }}" alt="{{ story.story_heading }}">
                </div>
                </a>
                {% endfor %}
            </div>

        </div>

        <div class="right-section">
            <h3>Discover other interesting topics</h3>
            <div class="all-tags">
                {% for category in other_categories %}
                <div class="tag">
                    <a href="{% url "single-category" category.slug %}"><p>{{ category.category_name }}</p></a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

{% include "blog/includes/footer.html" %}

{% endblock contents %}