* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

body {
    background: var(--Background, #F5F5F5);
    overflow-x: hidden;
}

.author-profile {
    display: flex;
    gap: 10rem;
    align-items: flex-start;
    justify-content: left;
    max-width: 90rem;
    margin-left: 5rem;
    margin-top: 5rem;
}

.author-profile .left-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
}

.author-profile .left-section img {
    width: 50rem;
    height: 12.625rem;
    border-radius: 1.25rem;
}

.author-profile .left-section h3 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
}

.author-profile .left-section .text-and-btn {
    display: flex;
    gap: 1rem;
    align-self: center;
    width: 50rem;
    justify-content: space-between;
}

.left-section .text-and-btn .author-bio {
    display: flex;
    width: 35rem;
}

.left-section .text-and-btn .author-bio p {
    color: #6C757D;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 149.687%; /* 1.87106rem */
}

.left-section .text-and-btn .follow-btn2 {
    display: flex;
    color: #FFF;
    padding: 0.8rem 5rem;
    margin-top: 0.5rem;
    width: 7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    background: var(--Primary-Color, #421CAC);
}

.left-section .text-and-btn  .follow-btn2:hover {
    background-color: #000;
    color: #FFF;
}
.left-section .text-and-btn .unfollow-btn2 {
    display: flex;
    color: #000;
    padding: 0.8rem 5rem;
    margin-top: 0.5rem;
    width: 7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    border: 1px solid #000;
    background: none;
}

.left-section .text-and-btn  .unfollow-btn2:hover {
    background: var(--Primary-Color, #421CAC);
    color: #FFF;
}

.left-section .follow-status {
    display: flex;
    gap: 2rem;
}

.left-section .follow-status h5 {
    color: #121416;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem; /* 150% */
}

.left-section .story-shelf {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: left;
    padding-bottom: 0.5rem;
    border-bottom: 0.3rem solid rgba(108, 117, 125, 0.10);

}

.left-section .story-shelf h5 {
    color: #121416;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.125rem; /* 138.889% */
}

.left-section .story-shelf p {
    color: var(--Grey, #6C757D);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}



.left-section .community-all-cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.left-section .community-single-card {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.left-section .community-single-card .com-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5625rem;
    width: 40.25rem;
    height: 10.875rem;
}

.community-single-card .com-card-text .card-head {
    color: #121416;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem; /* 138.889% */
}


.community-single-card .com-card-text .author-image {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.7rem;
}

.community-single-card .com-card-text .author-image p {
    font-size: 0.9rem;
}

.community-single-card .com-card-text .author-image h4 {
    font-size: 1rem;
    color: #000;
}
.community-single-card .com-card-text .author-image .author-pic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
}

.community-single-card .com-card-text .author-image .stroke {
    width: 1.8rem;
    height: 0.0625rem;
    background: rgba(108, 117, 125, 0.40);
}

.community-single-card .com-card-text .author-image .circle {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 20rem;
    background: rgba(108, 117, 125, 0.40);
}

.community-single-card .post-img img {
    width: 10.375rem;
    height: 10.1875rem;
    border-radius: 1.25rem;
}

.community-all-cards a {
    color: #6C757D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.community-single-card .com-card-text .all-tags {
    display: flex;
    gap: 1rem;
}

.community-single-card .com-card-text .all-tags .tag a {
    display: flex;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    background: rgba(119, 119, 119, 0.10);
}

.community-single-card .com-card-text .all-tags .tag a {
    color: black;
}

.community-single-card .all-tags .tag a:hover {
    color: #FFF;
    background-color: #421CAC;
}



.author-profile .who-to-follow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: left;
}

.author-profile .who-to-follow .all-follow {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.author-profile .who-to-follow .all-follow .single-follow {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    max-width: 17.6rem;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid rgba(18, 20, 22, 0.20);
}

.author-profile .single-follow p {
    color: var(----c-black-20, #6E6E6E);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}
.who-to-follow .all-follow .single-follow .author-image {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.all-follow .single-follow .author-image img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 5.0625rem;
}

.all-follow .single-follow .author-image h5 {
    font-size: 1.1rem;
}

.all-follow .single-follow .follow-btn {
    display: flex;
    color: #FFF;
    padding: 0.8rem 1.875rem;
    width: 17.6rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
    background: var(--Primary-Color, #421CAC);
}

.all-follow .single-follow .follow-btn:hover {
    background-color: #000;
    color: #FFF;
}

.author-profile #see-more-followers-btn {
    display: flex;
    padding: 0.8rem 1.875rem;
    width: 5rem;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #000;
    margin-top: 1rem
}

.author-profile #see-more-followers-btn:hover {
    background-color: #421CAC;
    color: #FFF;
    border: none;
}