* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

body {
    background: var(--Background, #F5F5F5);
    overflow-x: hidden;
}

.author-profile {
    display: flex;
    gap: 10rem;
    align-items: flex-start;
    justify-content: left;
    max-width: 90rem;
    margin-left: 5rem;
    margin-top: 5rem;
}

.author-profile .left-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50rem;
}

.author-profile .left-section img {
    width: 50rem;
    height: 12.625rem;
    border-radius: 1.25rem;
}

.author-profile .left-section h3 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
}

.author-profile .left-section .text-and-btn {
    display: flex;
    gap: 1rem;
    align-self: center;
    width: 50rem;
    justify-content: space-between;
}

.left-section .text-and-btn .author-bio {
    display: flex;
    width: 35rem;
}

.left-section .text-and-btn .author-bio p {
    color: #6C757D;
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 149.687%; /* 1.87106rem */
}

.left-section .text-and-btn .follow-btn {
    display: flex;
    color: #000;
    padding: 0.8rem 1.875rem;
    margin-top: 0.5rem;
    width: 7rem;
    height: 1.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    border: 1px solid #000;
}

.left-section .text-and-btn  .follow-btn:hover {
    background: var(--Primary-Color, #421CAC);
    border: none;
    color: #FFF;
}

.left-section .follow-status {
    display: flex;
    gap: 2rem;
}

.left-section .follow-status h5 {
    color: #121416;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem; /* 150% */
}

.left-section .story-shelf {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: left;
    padding-bottom: 0.5rem;
    border-bottom: 0.3rem solid rgba(108, 117, 125, 0.10);

}

.left-section .story-shelf h5 {
    color: #121416;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.125rem; /* 138.889% */
}

.left-section .story-shelf p {
    color: var(--Grey, #6C757D);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.left-section .left-sec-nav {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: left;
}

.left-section .left-sec-nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.left-section .left-sec-nav ul a {
    color: black;
}

.left-section .left-sec-nav ul a:hover {
    color: #421CAC;
    font-weight: bold;
}

.left-section .left-sec-nav ul .current-item {
    color: #421CAC;
    font-weight: bold;
    display: flex;
    padding: 0.425rem 0rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-bottom: 1px solid #000;
}


.left-section .reading-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left-section .reading-list .one-list{
    display: flex;
    align-items: center;
    width: 50.5rem;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    background: rgba(116, 108, 125, 0.05);
}

.left-section .reading-list a {
    color: #000;
}

.left-section .reading-list .collection-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 4rem;
    padding: 2rem;
    align-items: flex-start;
}

.left-section .reading-list .collection-text h4 {
    color: #121416;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 138.889% */
}

.left-section .reading-list .collection-text .story-sec {
    display: flex;
    width: 25rem;
    align-items: center;
    justify-content: space-between;
}

.reading-list .one-list img {
    width: 16rem;
    height: 10rem;
    border-radius: 1.25rem;
}




.author-profile .right-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.author-profile .right-section .who-to-follow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: left;
}

.author-profile .right-section .who-to-follow .all-follow {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.author-profile .right-section .who-to-follow .all-follow .single-follow {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    max-width: 17.6rem;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid rgba(18, 20, 22, 0.20);
}

.author-profile .single-follow p {
    color: var(----c-black-20, #6E6E6E);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}
.who-to-follow .all-follow .single-follow .author-image {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.all-follow .single-follow .author-image img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 5.0625rem;
}

.all-follow .single-follow .author-image h5 {
    font-size: 1.1rem;
}

.all-follow .single-follow .unfollow-btn {
    display: flex;
    color: #000;
    padding: 0.8rem 1.875rem;
    width: 17.6rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
    background: none;
    border: 1px solid #000;
}

.all-follow .single-follow .unfollow-btn:hover {
    background: var(--Primary-Color, #421CAC);
    color: #FFF;
}

.author-profile #see-more-followers-btn {
    display: flex;
    padding: 0.8rem 1.875rem;
    width: 5rem;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #000;
    margin-top: 1rem
}

.author-profile #see-more-followers-btn:hover {
    background-color: #421CAC;
    color: #FFF;
    border: none;
}

.author-profile .right-section .my-collections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    justify-content: left;
}

.right-section .my-collections .all-collections {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.right-section .my-collections .all-collections .one-collection {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 1rem;
    width: 21rem;
}

.all-collections .one-collection img {
    width: 5.8125rem;
    height: 3.8125rem;
    border-radius: 0.3125rem;
}

.all-collections .one-collection .collection-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right-section .my-collections .all-collections #see-more-followers-btn {
    display: flex;
    padding: 0.8rem 1.875rem;
    width: 5rem;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #000;
    margin-top: 1rem
}

.right-section .my-collections .all-collections #see-more-followers-btn:hover {
    background-color: #421CAC;
    color: #FFF;
    border: none;
}