* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

body {
    background: var(--Background, #F5F5F5);
    overflow-x: hidden;
}

#who-to-follow-section .hero-image {
    width: 100vw;
    height: 70vh;
    flex-shrink: 0;
}

#who-to-follow-section .hero-image img {
    width: 100vw;
    height: 70vh;
    flex-shrink: 0;
}

#who-to-follow-section .hero-overlay {
    width: 100vw;
    height: 70vh;
    position: absolute;
    z-index: 1;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.60);
}

#home-nav2 {
    position: absolute;
    z-index: 2;
}
#home-nav2 .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8.3125rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100vw;
}

#home-nav2 .nav-bar img {
    width: 7.625rem;
    height: 3.25rem;
    margin-left: 5rem;
}

#home-nav2 .nav-bar h6 {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

#home-nav2 .nav-bar .right-section {
    display: flex;
    margin-right: 5rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#home-nav2 .nav-bar .share-story-btn {
    display: flex;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0.5rem;
    border-radius: 0.625rem;
    background: var(--Primary-Color, #421CAC);
}

#home-nav2 .right-section img {
    width: 3rem;
    height: 3rem;
    border-radius: 3.5625rem;
}

#who-to-follow-section .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    margin-top: 13rem;
    width: 100vw;
    gap: 1.5rem;
}

#who-to-follow-section .hero-text h1 {
    color: #FFF;
    text-align: center;
    text-shadow: 4px 10px 48px rgba(0, 0, 0, 0.37);
    font-family: Lato;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.03125rem;
    text-transform: uppercase;
}

#who-to-follow-section .hero-text p {
    display: flex;
    width: 74.3125rem;
    height: 2.375rem;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#who-to-follow-section .hero-text a {
    display: inline-flex;
    padding: 1.25rem 3.25rem;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.2rem;
    gap: 0.625rem;
    margin-top: 2rem;
    border-radius: 0.625rem;
    background: var(--Primary-Color, #421CAC);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.06);
}

#who-to-follow-section .hero-text a:hover {
    background-color: black;
}

#all-categories-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-left: 5rem;
    margin-top: 8rem;
}

#all-categories-cards .single-category-card {
    width: 16.4rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid rgba(18, 20, 22, 0.20);
}

#all-categories-cards .single-category-card img {
    width: 16.4rem;
    height: 10.5rem;
    border-radius: 0.625rem;
}

#all-categories-cards .single-category-card .category-name {
    display: flex;
    justify-content: space-between;
    width: 16.4rem;

} 

#all-categories-cards .single-category-card .category-name p {
    color: var(----c-black-20, #6E6E6E);
    font-size: 0.9rem;
}
#all-categories-cards .single-category-card p {
    color: var(----c-black-20, #6E6E6E);
}

#all-categories-cards .single-category-card a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.7rem;
    height: 2rem;
    color: #000;
    padding: 0.3125rem 1.875rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
    border: 1px solid #000;
}

#all-categories-cards .single-category-card a:hover {
    background-color: #421CAC;
    color: #FFF;
    border: none;
}